<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/js/bundle.js"></script>
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="https://astpmeetup.github.io/#portfolio">Back to portfolio</a>
            </div>
        </div>
        <!-- /.container -->
    </nav>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div style="text-align:center;">
        <h1 class="heading" style="font-size:75px;"><strong><%= title %></strong></h1>
      </div>
      <br>
      <div class="app_body col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <br>
        <blockquote role="contentinfo">
          <h3 class="heading"><strong>Here's an app demonstrating my knowledge of Backbone.js!</h3><h3 class="heading">Taco Man loves tacos and he doesn't mind tweeting to himself about it. Every tweet can be deleted, updated and liked in the status feed.</strong></h3>
        </blockquote>
        <br>
        <div role="form" class="jumbotron">
          <div class="profile_info">
            <img src="/images/taco.gif" id="profile_pic" alt="profile image">
            <h3 class="profile_name"><strong>Taco Man</strong> @tacoman4life</h3>
          </div>
          <div class="container">
            <form name="post_input" id="form">
              <textarea  aria-label="content submission form" form="form" name="content" type="text" class="content_input" rows="3" required></textarea>
              <br>
              <input role="button" type="submit" value="submit" class="button">
            </form>
          </div>
        </div>
        <br>
        <br>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <h1 class="heading"><strong>Status Updates</strong></h1>
          <br>

          <div id="app">

          <hr>
          </div>
        </div>
    </div>
  </body>
</html>
