body {
  padding: 30px;
  font-size: 20px;
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  /*background-image: url('../images/wallpaper.jpg');*/
  filter: alpha(opacity=90);
  background-color: #ffffff;
  color: white;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.button {
  text-align: center;
  color: #999999;
  text-decoration: none;
  padding: 0px;
  background: transparent;
  height: 35px;
  border-radius: 10px;
  width: 80px;
  border: 1px solid #cccccc;
  margin-top: 10px;
  float: right;
}

.button:hover {
  background-color: #ffffff;
}


h1, h2 {
  color: #737373;
}

input:focus {
    border: 3px solid #737373;
}

textarea {
  width: 100%;
}

form {
  margin-top: 20px;
  padding:0px;
}

#profile_pic {
  float: left;
  height: 70px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.profile_info {
  display: table-cell;
  vertical-align: bottom;
  width: 500px;
}

span, #fav_icon, #status_delete, #status_update {
  height: 25px;
  padding-left: 10px;
  float: right;
  margin-right: 10px;
}

#intro {
  width: 70%;
  color: #737373;
}

.nav {
  background: transparent;
}


textarea, textarea > input:focus {
  outline: none;
  text-decoration: none;
  border-color: transparent;
  color: #737373;
  outline: none;
  background-color: #ffffff;
  font-size: 20px;
  border-radius: 5%;
}

#nav_container {
  margin: 0px;
  float: right;
}

@media (max-width: 1000px) {
  #intro {
    width: 100%;
  }
}
