body {
  font-size: 20px;
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  /*background-image: url('../images/wallpaper.jpg');*/
  filter: alpha(opacity=90);
  background-color: #ffffff;
  color: white;
  font-family: Segoe UI;
}

a {
  color: #00B7FF;
}

.button {
  text-align: center;
  color: #999999;
  text-decoration: none;
  padding: 0px;
  background: transparent;
  height: 35px;
  border-radius: 10px;
  width: 80px;
  margin-top: 10px;
  float: right;
}

.button:hover {
  background-color: #ffffff;
}


h1, h2 {
  color: #737373;
}

input:focus {
    border: 3px solid #737373;
}

textarea {
  width: 100%;
}

form {
  margin-top: 20px;
  padding:0px;
}

.profile_pic {
  float: left;
  height: 70px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.profile_info {
  display: table-cell;
  vertical-align: bottom;
  width: 500px;
}

span, .fav_icon, .status_delete, .status_update {
  height: 25px;
  padding-left: 10px;
  float: right;
  margin-right: 10px;
}

.heading {
  color: #737373;
}

.nav {
  background: transparent;
}


textarea, textarea > input:focus {
  outline: none;
  text-decoration: none;
  border-color: transparent;
  color: #2f4f4f;
  outline: none;
  background-color: #ceebfd;
  font-size: 30px;
  border-radius: 5%;
}

#nav_container {
  margin: 0px;
  float: right;
}

@media (max-width: 1000px) {
  .heading {
    width: 100%;
  }
  #app {
    padding: 0px;
  }
}

.content_p {
  padding-top: 10px;
  padding-bottom: 10px;
}

#app {
  /*border-left: 2px solid #fff;*/
  padding: 20px;
}
